#login
  form#loginForm
    fieldset
      legend Login
      ul
        li
          label User
          input#user(type='text', name='user')
        li
          label Pass
          input#pass(type='password', name='pass')
        li
          input#authSubmit(type='submit', value='submit')