header
  a(href='/') #{config.blogName}
  - if (typeof username !== "undefined")
    /
    a(id='userView', href='#{username}', title='#{username}')= username
#content
  != partial('login')
  #newPost(style='display:none;')
    form#newPostForm
      fieldset
        legend Add Post
        ul
          li
            label Title
              input#title(type='text', name='title')
          li
            label Story
            textarea#story(name='story', cols='80', rows='10')
          li
            input#postSubmit(type='submit', value='Submit')
#blog
footer #{config.blogFooter}
script(src='socket.io/socket.io.js')
script(src='js/blogClient.js')