!!!
html
  head
    title #{config.blogName}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(src='/js/jwysiwyg/jquery.wysiwyg.js')
    script(src='/js/jwysiwyg/controls/wysiwyg.image.js')
    script(src='/js/jwysiwyg/controls/wysiwyg.link.js')
    script(src='/js/jwysiwyg/plugins/wysiwyg.fileManager.js')
    script(src='/js/jquery.jeditable.js')
    script(src='/js/jquery.jeditable.jwysiwyg.js')
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    link(rel='stylesheet', href='/js/jwysiwyg/jquery.wysiwyg.css', type='text/css')
    link(rel='stylesheet', href='/js/jwysiwyg/plugins/fileManager/wysiwyg.fileManager.css', type='text/css')
  body!= body
